<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>episode3 : Lists, condionnals, and Event Handing</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full grid place-items-center ">

    <div id="app">
        <section>
            <h2 class="font-bold mb-2 ">Assignements</h2>

            <ul>
                <li v-for="assignement in assignements ">
                    <label>

                        {{ assignement.name }}

                        <input type="checkbox" v-model="assignement.complete" >
                    </label>
                </li>
            </ul>

            
        </section>

    </div>
    <script>
        let app = {
            data() {
                return {
                    assignements: [{
                            name: 'Finish project',
                            complete: false
                        },
                        {
                            name: 'Read chapter 4',
                            complete: false
                        },
                        {
                            name: 'Turn in homework',
                            complete: false
                        }

                    ]
                }
            },
        }
        Vue.createApp(app).mount('#app')
    </script>
</body>

</html>